body, html{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
#errTitle,#errArtist,#errYear,#errGenre,#errLabel,#errPrice{
    width: 100%;
}
#bouton{
    margin-top: 4%;
}
footer{
    padding-bottom: 5%;
}