h1{
   text-align: center;
}
/* Style pour boucles.php */
.boucle{
   margin-left: 3%;
}
h3, h4{
   margin-left: 1%;
   text-decoration-line: underline
}
pre{
   background-color: black;
   color: rgb(255, 255, 255);
   font-size: 1.1vw;
}
table, tr, td{
   border: 1px solid #000000;
   margin-left: 2%;
}
table{
   margin-top: 2%;
}
/* Style pour tableaux.php*/
p{
   margin-left: 2%;
   font-size: 1.2vw;
}
i{
   margin-left: 3%;
   font-size: 1.2vw;
}
/* Style pour fonction.php   */
a{
   margin-left: 2%;
}